.header {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* background-color: aquamarine; */
}

.manage_panel {
    height: 100%;
    width: 70%;
    /* background-color: blueviolet; */
    display: flex;
    gap: 2%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body {
    width: 100%;
    height: 85%;
    /* background-color: blueviolet; */
}

.body_layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.data_panel {
    width: 50%;
    height: 100%;
    display: flex;
    /* background-color: aqua; */
}

.progresses_panel {
    width: 50%;
    height: 100%;
    display: flex;
    /* background-color: cadetblue; */
}